<main class="main">
  <app-navbar></app-navbar>
  <div class="content d-flex align-items-center pt-5">
    <div class="w-50">
      <div class="p-5 text-white">
        <h1>Raymond LU</h1>
        <h1>Développeur fullstack</h1>
        <h4>Je suis un développeur avec des competences en frontend et en backend, notamment avec les outils : Java, Angular et React</h4>
        <button type="button" class="btn btn-primary rounded-5">Me recruter</button>
      </div>
    </div>

  </div>
</main>


<router-outlet/>
