<div class="d-flex flex-row">
  <div class="w-50 p-5">
    <p>
      Je m'appelle Raymond Lu, développeur spécialisé en Java, Angular et React, basé à Paris.
      Vous pouvez me contacter par email à
      <a>raymondlu1999&#64;gmail.com </a>
      ou via mon
      <a href="https://www.linkedin.com/in/raymond-lu1999/" target="_blank" rel="noopener noreferrer">profil LinkedIn</a>.

      Récemment, j’ai travaillé chez Ouidou Consulting sur le projet Twiice (juin à août 2024), où j’ai développé un
      site permettant aux clients d’accéder aux services TWIICE, avec des fonctionnalités pour gérer les demandes
      client. J’ai utilisé pour ce projet des technologies comme Java, Spring, Angular, Typescript, HTML, CSS et
      PostgreSQL. Auparavant, chez Ouidou, j’ai participé au projet Cuboscope (mars à mai 2024), en concevant un site
      e-learning pour l'Office national des forêts, incluant des fonctionnalités 3D et utilisant React, Typescript,
      Threejs, PostgreSQL et Swagger. Avant cela, chez Alten, j’ai travaillé sur un projet de gestion de non-conformité
      (juin à octobre 2023), où j’ai développé une application complète de gestion de données, en prenant en charge la
      partie back-end et front-end avec des technologies comme Java, Spring, Angular, MySQL, Azure DevOps et Swagger.

      Je maîtrise plusieurs langages de programmation, notamment Java, C, Python, Scala, Bash et SQL, ainsi que des
      frameworks et outils comme Spring Boot, Angular, React, et des outils de versionnement tels que Git et Azure
      DevOps. En bases de données, j’ai de l’expérience avec PostgreSQL, MySQL, HBase et Cassandra.

      Côté formation, je suis titulaire d’un Master en informatique, Systèmes et Applications Répartis de la Sorbonne
      Université (2021-2024), et j’ai obtenu une certification avancée en React, dont les cours ont été donnés par Meta.
      Avant cela, j’ai obtenu une licence en informatique à la Sorbonne Université (2017-2021).
    </p>
  </div>
  <div class="aboutme w-50 p-5">
    <div class="w-100">
      <img class="w-100 h-50" ngSrc="/cv.png" alt="cv" height="1000" width="707">

      <button type="button" class="btn btn-link">Télécharger le CV</button>
    </div>
  </div>

</div>
