<div class="d-flex flex-row">
  <div class="w-50 p-5">
    <p>
      Je suis un développeur spécialisé en <strong>Java, Angular et React</strong>, basé à Paris. <br>
      Vous pouvez me contacter via mon email
      <a href="mailto:raymondlu1999@gmail.com?subject=Recrutement">raymondlu1999&#64;gmail.com</a>
      ou via mon
      <a href="https://www.linkedin.com/in/raymond-lu1999/" target="_blank" rel="noopener noreferrer">profil LinkedIn</a>.
    </p>
    <p>
      Je travaille actuellement chez Ouidou Consulting. Pour ce qui est de mon expérience professionnel, j'ai récemment travaillé chez Ouidou Consulting sur le projet Twiice, où j’ai développé un
      site permettant aux clients d’accéder aux services de l'entreprise TWIICE, qui propose des services de recyclages.
      J'ai notamment développé des fonctionnalités pour gérer les demandes client.
      J’ai utilisé pour ce projet des technologies comme Java, Spring, Angular, Typescript, HTML, CSS et PostgreSQL.
      Auparavant, chez Ouidou, j’ai participé au projet Cuboscope, en concevant un site d'e-learning pour l'Office national des forêts,
      incluant des fonctionnalités 3D et utilisant React, Typescript, Threejs, PostgreSQL et Swagger.
    </p>
    <p>
      Avant cela, chez Alten, j’ai travaillé sur un projet de gestion de non-conformité, où j’ai développé une application complète de gestion de données, en prenant en charge la
      partie back-end et en participant au développement front-end avec des technologies comme Java, Spring, Angular, MySQL, Azure DevOps et Swagger.
      <p>
      Je maîtrise plusieurs langages de programmation comme décrit sur mon CV.
      Mais les langages que j'ai le plus utilisé est Java et Javascript.
      Bien que depuis mon obtention diplôme, j'ai beaucoup moins pratiqué les langages tel que le C, Python ou Scala,
      l'apprentissage de ces langages m'ont permis d'avoir une meilleur approche
      et une meilleure comprehension de la programation en general.
      Durant mon quotidien, j'utilise aussi frameworks et outils comme Spring, Angular, React,
      et des outils de versionning tels que Git, Gitlab et Azure DevOps.
      En bases de données, j’ai de l’expérience avec PostgreSQL, MySQL,
      et des notions en base de données NoSQL tel que HBase et Cassandra.
      </p>
  </div>
  <div class="aboutme w-50 p-5">
    <div class="w-100">
      <img class="w-100 h-50" ngSrc="/cv.png" alt="cv" height="2000" width="1414" priority>
      <button type="button" class=" mt-2 btn btn-dark w-100" (click)="downloadCv()">Télécharger le CV</button>
    </div>
  </div>

</div>
