.navbar {
    background: black;
}

.container-fluid {
    display: flex !important;
    justify-content :flex-end !important;
}

.home-button {
    margin-right: 1rem;
    margin-left: 1rem;
}

.nav-link {
    color: white;
}