.navbar {
    background: black;
    height: 10vh;
}

.container-fluid {
    display: flex !important;
    justify-content :flex-end !important;
}

.home-button {
    margin-right: 1rem;
    margin-left: 1rem;
}

.nav-link {
    color: white;
}

.nav-item {
    margin : 0 5px 0 5px
}