<p>projet works!</p>
<div class="visually-hidden">
  J'ai récemment travaillé chez Twiice, un éco-organisme en création, où j'ai
  implémenté des fonctionnalités pour répertorier les entreprises clientes et traiter les demandes de modification
  d’informations sur divers formulaires.
  Auparavant, pour le client de l'Office National des Forêts, j'ai participé au développement d'un site e-learning pour former
  des techniciens sur le plan de classement du chêne, en intégrant des exercices sur des grumes modélisées en 3D.
</div>
