<div class="d-flex">
  <div class="aboutme w-50 d-flex flex-column p-5 justify-content-center align-items-center"> Placeholder for image</div>
  <div class="aboutme w-50 d-flex flex-column p-5 justify-content-center">
    <p class="">
      Hello ! Je m’appelle Raymond LU, développeur Web junior.
      Auparavant, j’ai effectué plusieurs missions sur différents projets, ce qui m’a permis d’acquérir de très bonnes compétences telles que l’organisation, l’écoute, le conseil ainsi que des qualités relationnelles importantes.
      J’ai suivi la formation de Master en Systèmes et applications reparties au sein de Sorbonne Université sciences.  </p>
    <p class="">
      Suite à l’obtention du Bac+5, j’ai obtenu la confiance de l'entreprise Ouidou qui m’a embauché en septembre 2024 et chez qui je suis devenu ingénieur en étude et développement.
      Mes compétences techniques incluent Java, Spring, Angular, React, TypeScript, ainsi que PostgreSQL et MySQL.
      Je continue donc à travailler chaque jour avec envie, motivation.
    </p>
  </div>

  <div class="visually-hidden">
    J'ai récemment travaillé chez Twiice, un éco-organisme en création, où j'ai
    implémenté des fonctionnalités pour répertorier les entreprises clientes et traiter les demandes de modification
    d’informations sur divers formulaires.
    Auparavant, pour le client de l'Office National des Forêts, j'ai participé au développement d'un site e-learning pour former
    des techniciens sur le plan de classement du chêne, en intégrant des exercices sur des grumes modélisées en 3D. </div>
</div>
<div class="currently d-flex justify-content-center align-items-center "> Actuellement : Ingénieur en étude et développement chez Ouidou consulting.</div>
