<div class="container-about-me">
  <div class="d-flex flex-row aboutme">
    <div class="w-50 p-5"> Placeholder for image</div>
    <div class="overflow-auto w-50 pt-3 px-3 d-flex flex-column align-content-center justify-content-center">
      <p class="">
        Bonjour ! Je m’appelle Raymond LU, développeur Web junior.
        Pour vous resumer mon parcours, je vais d'abord vous parler de la formation que j’ai suivi.
        La formation s'intitule Master en Systèmes et applications reparties (SAR), que j'ai effectué au sein de Sorbonne Université sciences.
        Au cours de ces derniere années, j'ai effectué plusieurs stage de développement web, ce qui m’a permis d’acquérir de très bonnes
        compétences en programmation, mais aussi des compétences humaines telles que l’organisation, l’écoute, le conseil ainsi que des qualités relationnelles importantes.
      </p>
      <p class="">
        Suite à l’obtention du Bac+5, j’ai obtenu la confiance de l'entreprise Ouidou qui m’a embauché en septembre 2024
        et chez qui je suis devenu ingénieur en étude et développement.
        Mes compétences techniques incluent Java, Spring, Angular, React, TypeScript, ainsi que PostgreSQL et MySQL.
        Je continue à travailler chaque jour afin de m'améliorer avec envie, motivation.
      </p>
    </div>
  </div>
  <h6 class="currently d-flex justify-content-center align-items-center ">
    Actuellement : Ingénieur en étude et développement chez Ouidou consulting.
  </h6>
</div>