<div class="container-about-me">
  <div class="d-flex flex-row">
    <div class="aboutme w-50 p-5"> Placeholder for image</div>
    <div class="aboutme w-50 p-5 d-flex flex-column align-content-center justify-content-center">
      <p class="">
        Hello ! Je m’appelle Raymond LU, développeur Web junior.
        Auparavant, j’ai effectué plusieurs missions sur différents projets, ce qui m’a permis d’acquérir de très bonnes
        compétences telles que l’organisation, l’écoute, le conseil ainsi que des qualités relationnelles importantes.
        J’ai suivi la formation de Master en Systèmes et applications reparties au sein de Sorbonne Université sciences.
      </p>
      <p class="">
        Suite à l’obtention du Bac+5, j’ai obtenu la confiance de l'entreprise Ouidou qui m’a embauché en septembre 2024
        et chez qui je suis devenu ingénieur en étude et développement.
        Mes compétences techniques incluent Java, Spring, Angular, React, TypeScript, ainsi que PostgreSQL et MySQL.
        Je continue donc à travailler chaque jour avec envie, motivation.
      </p>
    </div>
  </div>
  <h6 class="currently d-flex justify-content-center align-items-center ">
    Actuellement : Ingénieur en étude et développement chez Ouidou consulting.
  </h6>
</div>