<div class="contact-container d-flex align-items-center justify-content-center">
  <div class=" w-75 h-75 border border-dark rounded-5">
    <div class="p-4 d-flex flex-column align-items-center justify-content-center">
      <div class="form-element">
        <label for="name" class="form-label col-sm-2 ">Nom</label>
        <input type="text" class="form-control col-sm-10" id="name" placeholder="NOM">
      </div>
      <div class="form-element">
        <label for="prenom" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="prenom" placeholder="Prénom">
      </div>
      <div class="form-element">
        <label for="telephone" class="form-label">Téléphone</label>
        <input type="text" class="form-control" id="telephone" placeholder="06 06 06 06 06">
      </div>
      <div class="form-element">
        <label for="emailaddress" class="form-label">Email address</label>
        <input type="email" class="form-control" id="emailaddress" placeholder="name@example.com">
      </div>
      <div class="form-element">
        <label for= "message" class="form-label">Message</label>
        <textarea class="form-control" id="message" rows="4"></textarea>
      </div>
    </div>
  </div>
</div>