.contact-container {
    height: 90vh;
}

.form-element {
    width: 100%;
    margin-bottom: 1rem;
}

@media screen and (max-height: 600px) {
    .contact-container {
        transform: scale(0.7);
    }
}
